@import "tailwindcss";

@theme {
  --color-bg: theme(colors.slate.50);
  --color-text: theme(colors.slate.800);
  --color-primary: theme(colors.blue.600);
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}
